@model List<Restoran.Product>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-7">Название</th>
            <th class="col-md-3">Ед.изм.</th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Unit.Symbol </td>
           <td>@Ajax.ActionLink("Добавить", "AddProduct", new { id = item.ProductId }, new AjaxOptions { UpdateTargetId = "edit" },new { @class= "btn btn-primary" })</td>
        </tr>
    } 
</table>


 
