@model List<Restoran.Location>
   <table class="table">
       <thead>
           <tr>
               <td>Id</td>
               <td>Название</td>               
           </tr>
       </thead>
       <tbody>
           @foreach (var location in Model)
           {
               <tr>
                   <td>@location.ID</td>
                   <td>@location.Name</td>
                   <td>@Html.ActionLink("Просмотр","Details",new { id=location.ID})</td>
                   <td>@Html.ActionLink("Редактировать", "Edit", new { id = location.ID })</td>
               </tr>
           }
       </tbody>
   </table>